/* BODY */

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1rem;

    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: aliceblue;
}

.sectionintro h1 {
    text-align: center;
}

.sectionintro p {
    padding-left: 8rem;
    padding-right: 8rem;
}

.undecided {
    color: red;
}

.confirmed {
    color: limegreen
}

.separatorline {
    margin: 2rem;
}

.modentry {
    padding: 1rem;
    margin: 2rem;
    margin-left: 16rem;
    margin-right: 16rem;
    outline: .2rem inset rgb(238, 0, 255);

    color: aliceblue;
    background-color: rgb(47, 28, 44);
}

.modentry h2, div, img, a {
    text-align: center;
}
.modentry h2 {
    margin: 0;
    margin-bottom: 1rem;
} 

.modentry div  {
    color: gray;
    font-style: italic;
}

.modentry p {
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: left;
}

.descriptionimage {
    margin: 2rem;
    align-self: center;
    height: 90%;
    width: 90%;
}

@media only screen and (max-width:1200px) {
    html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1rem;

    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    background-color: aliceblue;
    }

    .sectionintro p {
    padding-left: 8rem;
    padding-right: 8rem;
}
}

@media only screen and (max-width:800px) {
    html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1rem;

    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    background-color: aliceblue;
    }

    .modentry {
    padding: 1rem;
    margin: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    }

    .sectionintro p {
    padding-left: 6rem;
    padding-right: 6rem;
}
    }

}

@media only screen and (max-width:300px) {
    html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0rem;

    font-family: 'Roboto Mono', monospace;
    font-size: 8px;
    background-color: aliceblue;
    }

    .modentry {
    padding: .5rem;
    margin: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    }

    .sectionintro p {
    padding-left: 1rem;
    padding-right: 1rem;
}

}